*.dll
*.dylib
*.so
/tests/src/main/java/jme3test/

# Ignore Gradle's project-specific cache directory:
/.gradle/

# Ignore Gradle's build output directories:
/build/
/moon-ccbysa/build/
/nifty/build/
/tests/build/
/ui/build/
/x/build/

# Ignore the Acorus sandbox:
/tests/Written Assets/

# Ignore IDE-specific directories:
/.idea/
/.nb-gradle/
/.nb-gradle-properties
/nifty/private/
/tests/private/
