/.gradle/
/.nb-gradle/
/debug/build/
/debug/src/main/resources/Textures/shapes/
/heart/build/
/Minie/build/
/moon-ccbysa/build/
/nifty/build/
/SkyControl/build/
/SkyControl/src/main/resources/Textures/skies/
/tests/*.dll
/tests/*.so
/tests/build/
/tests/src/main/java/jme3test/
/tests/src/main/resources/Models/MhGame/
/tests/src/main/resources/Models/nan1/
/tests/Written Assets/
/textures/build/
/textures/src/main/java/jme3utilities/sky/*.java
/textures/src/main/resources/bsc5.dat
/ui/build/
/wes/build/
/x/build/
