/.gradle/
/.nb-gradle/private/
/.nb-gradle/profiles/private/aux-config
/assets/Textures/skies/bsc5.dat
/build/
/dist/
/lwjgl.dll
/lwjgl64.dll
/master-application.jnlp
/nbproject/build-impl.xml	
/nbproject/build-impl.xml~
/nbproject/genfiles.properties
/nbproject/jme3Data/
/nbproject/private/
/OpenAL32.dll
/OpenAL64.dll
/release/
/textures/src/main/resources/bsc5.dat
/Written Assets/
